h3{
    color:red;
}
h2{
    color:green;
    display: flex;
    justify-content: center;
}
h1{
    color:purple;
    display: flex;
    justify-content: center;
}
h4{
    color: aqua;
    display: flex;
    justify-content: center;
}
p{
    color: blue;
    display: flex;
    justify-content: center;
}
button{
    color: darkgoldenrod;
}
body{
    background-color:grey
}
button{
    background-color: purple;
}


